header {
	#call-to-action {
		display: flex;
		padding: 0 0 234px 240px;
		#cta-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin-right: 123px;
			#cta-title {
				color: var(--H1-Color);
				font-family: Poppins;
				font-size: var(--H1-Font);
				font-style: normal;
				font-weight: 600;
				line-height: 68px;
				letter-spacing: -0.3px;
			}
			#cta-desc {
				color: var(--Text-Color);
				font-family: Poppins;
				font-size: var(--desc-1);
				font-style: normal;
				font-weight: 400;
				line-height: 28px; /* 140% */
				letter-spacing: 0.03px;
				margin: 50px 0;
			}
			#cta-action {
				#cta-action-text {
					color: var(--White);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0.08px;
				}
			}
		}
		#cta-img {
			width: 945px;
			height: 766px;
			flex-shrink: 0;
			background-image: url('../images/doctor_1.png');
			background-size: cover;
			background-repeat: no-repeat;
			border-bottom-left-radius: 35%;
		}
	}
}
/** Home **/
main {
	#prod-cat {
		display: flex;
		box-sizing: border-box;
		flex-direction: column;
		margin: 0 241px;
		border-radius: 15px;
		background: var(--Dark-Blue);
		padding: 40px;
		#prod-cat-title {
			color: var(--White);
			font-family: Poppins;
			font-size: var(--H2-Font);
			font-style: normal;
			font-weight: 600;
			line-height: 52px; /* 108.333% */
			text-transform: capitalize;
		}
		#cats {
			display: flex;
			padding: 30px 0 0 0;
			.product {
				display: flex;
				flex: 1;
				height: 280.969px;
				padding: 30px 20px;
				margin-right: 20px;
				flex-direction: column;
				align-items: center;
				border-radius: 15px;
				background: var(--White);
				box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
				.product-title {
					display: flex;
					margin: 10px 0;
					color: var(--H1-Color);
					text-align: center;
					font-family: Poppins;
					font-size: var(--H3-Font);
					font-style: normal;
					font-weight: 600;
					line-height: 36px;
					text-transform: capitalize;
				}
				.product-desc {
					color: var(--Text-Color);
					text-align: center;
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0.08px;
				}
			}
			:last-child {
				margin-right: 0;
			}
			#med-treatment {
				.product-illustration {
					display: flex;
					width: 93px;
					height: 81px;
					background-image: url('../images/med-treatment.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			#ent {
				.product-illustration {
					display: flex;
					width: 67.001px;
					height: 84.485px;
					background-image: url('../images/ent.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			#animal-treatment {
				.product-illustration {
					display: flex;
					width: 87px;
					height: 85px;
					background-image: url('../images/an-treatment.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			#vitamins {
				.product-illustration {
					display: flex;
					width: 67.001px;
					height: 84.485px;
					background-image: url('../images/ent.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
		}
	}
	.merch {
		display: flex;
		margin: 200px 241px;
		.product-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 124px;
			.product-title {
				display: inline-flex;
				flex-direction: column;
				margin-bottom: 20px;
				color: var(--H1-Color);
				font-family: Poppins;
				font-size: var(--H2-Font);
				font-style: normal;
				font-weight: 600;
				line-height: 52px;
				text-transform: capitalize;
				span {
					display: block;
				}
			}
			.product-desc {
				display: flex;
				color: var(--Text-Color);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.08px;
			}
			.product-pros {
				display: flex;
				flex-direction: column;
				margin: 28px 0;
				-webkit-padding-start: 25px;
				padding-inline-start: 226px5px;
				.pro {
					margin-bottom: 15px;
					color: var(--Bold-Text);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 500;
					line-height: 24px;
					letter-spacing: 0.08px;
				}
				:last-child {
					margin-bottom: 0;
				}
			}
			.product-learn-more {
				display: flex;
				box-sizing: border-box;
				width: 164px;
				hight: 56px;
				padding: 16px 30px;
				.learn-more-text {
					color: var(--White);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0.08px;
					text-transform: uppercase;
				}
			}
		}
		.product-illustration {
			display: flex;
			width: 582px;
			height: 630px;
			flex-shrink: 0;
			background-image: url('../images/vet-xray.png');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	#product-2 {
		display: flex;
		flex-direction: row-reverse;
		.product-text {
			margin-right: 0;
			margin-left: 124px;
		}
	}
	#book-section {
		display: flex;
		box-sizing: border-box;
		padding: 70px 228px;
		margin-bottom: 200px;
		height: 477px;
		justify-content: center;
		align-items: center;
		background: var(--Dark-Blue);
		#book-text {
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			#book-title {
				display: inline-flex;
				box-sizing: border-box;
				flex-direction: column;
				color: var(--White);
				font-family: Poppins;
				font-size: var(--H2-Font);
				font-style: normal;
				font-weight: 600;
				line-height: 52px;
				text-transform: capitalize;
				margin-bottom: 21px;
			}
			#book-desc {
				box-sizing: border-box;
				color: var(--White);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.08px;
				margin-bottom: 30px;
			}
			#book-now-button {
				box-sizing: border-box;
				width: 156px;
				height: 56px;
				#book-now-text {
					color: var(--Aqua);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0.08px;
					text-transform: uppercase;
				}
			}
		}
		#book-vid {
			cursor: pointer;
			width: 704.676px;
			height: 337px;
			margin-left: 30px;
			flex-shrink: 0;
			border-radius: 15px;
			background-color: var(--LGrey);
			background-image: url('../images/play.svg');
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	#testimonial {
		display: flex;
		position: relative;
		box-sizing: border-box;
		padding: 125px 240px 126px 240px;
		justify-content: center;
		align-items: center;
		background: var(--LLGrey);
		margin-bottom: 200px;
		#testimonial-illustration {
			width: 490px;
			height: 490px;
			margin-right: 130px;
			flex-shrink: 0;
			border-radius: 40px;
			background-color: var(--Aqua);
			background-image: url('../images/vet-xray.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
/** Generic **/
.page-title {
	color: var(--Dark-Blue);
	font-family: Poppins;
	font-size: var(--Page-title);
	font-style: normal;
	font-weight: 600;
	line-height: 68px; /* 85% */
	letter-spacing: -0.4px;
}

/** About **/
main#about-main {
	display: flex;
	flex-direction: column;
	padding: 200px 240px;
	.about-section {
		display: flex;
		box-sizing: border-box;
		margin-top: 100px;
		.section-image-container {
			#about-img {
				display: flex;
				width: 610.355px;
				height: 584.968px;
				flex-shrink: 0;
				background-image: url('../images/vet-xray.png');
				background-size: 70%;
				background-position: center;
				background-repeat: no-repeat;
				background-color: var(--Gray-Scale-5);
				mask: url('../images/about-mask-1.svg');
				mask-repeat: no-repeat;
				mask-position: center;
			}
			#network-img {
				display: flex;
				width: 610.355px;
				height: 584.968px;
				flex-shrink: 0;
				background-image: url('../images/vet-xray.png');
				background-size: 70%;
				background-position: center;
				background-repeat: no-repeat;
				background-color: var(--Gray-Scale-5);
				mask: url('../images/about-mask-2.svg');
				mask-repeat: no-repeat;
				mask-position: center;
			}
		}
		.section-text-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.section-text-title {
				display: inline-flex;
				margin-bottom: 30px;
				color: var(--H1-Color);
				font-size: var(--H2-Font);
				font-style: normal;
				font-weight: 600;
				line-height: 52px; /* 108.333% */
				text-transform: capitalize;
			}
			.section-text-desc {
				color: var(--Text-Color);
				text-align: justify;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 150% */
				letter-spacing: 0.08px;
			}
		}
	}

	.left-space {
		flex-direction: row;
		.section-text-container {
			margin-left: 150px;
		}
	}
	.right-space {
		flex-direction: row-reverse;
		.section-text-container {
			margin-right: 150px;
		}
	}
}
/** Contact **/
main#contact-main {
	display: flex;
	flex-direction: column;
	padding: 200px 240px;
	#contact-desc {
		color: var(--Text-Color);
		/* text-align: center; */
		font-family: Poppins;
		font-size: var(--desc-1);
		margin-top: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0.021px;
	}
	#contact-form-container {
		display: flex;
		flex-direction: column;
		background-color: var(--LLGrey);
		margin-top: 100px;
		padding: 40px;
		#form-title {
			color: var(--Dark-Blue);
			font-family: Poppins;
			font-size: var(--H2-Font);
			text-align: center;
			font-style: normal;
			font-weight: 600;
			line-height: 52px;
			text-transform: capitalize;
			margin-bottom: 50px;
		}
		#contact-form {
			display: flex;
			flex-direction: column;
			align-items: center;
			#contact-info {
				display: flex;
				width: 100%;
				box-sizing: border-box;
				input {
					display: flex;
					flex: 1;
					padding: 12px 16px;
					align-items: flex-start;
					margin-right: 40px;
					gap: 16px;
					flex: 1 0 0;
					border-radius: 15px;
					background: var(--White);
					border: none;
				}

				:last-child {
					margin-right: 0;
				}
			}
			textarea {
				display: flex;
				height: 180px;
				padding: 12px 16px;
				align-items: flex-start;
				gap: 16px;
				align-self: stretch;
				border-radius: 15px;
				background: var(--White);
				border: none;
				margin-top: 32px;
			}
			button#contact-submit {
				display: flex;
				color: var(--White);
				height: 56px;
				width: 106px;
				padding: 16px 32px;
				justify-content: center;
				align-items: center;
				gap: 4px;
				border-radius: 15px;
				background: var(--Aqua);
				border: none;
				margin-top: 50px;
				cursor: pointer;
			}
		}
	}
}

/** Product categories **/
main#product-categories-main {
	display: flex;
	flex-direction: column;
	padding: 200px 240px;
	#product-categories {
		display: flex;
		flex-direction: column;
		margin: 100px 0;
		.product-category {
			display: flex;
			padding: 30px 0;
			border-bottom: 2px solid var(--Dark-Blue);
			.product-category-illustration {
				display: flex;
				width: 403px;
				height: 404px;
				margin-right: 40px;
				flex-shrink: 0;
				border-radius: 15px;
				background-color: var(--LGrey);
				cursor: pointer;
			}
			.product-category-text {
				display: flex;
				flex-direction: column;
				.category-title {
					color: var(--Dark-Blue);
					font-family: Poppins;
					font-size: var(--H2-Font);
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					margin: 13px 0 38px 0;
					letter-spacing: 0.075px;
				}
				.category-desc {
					color: var(--Text-Color);
					font-family: Poppins;
					font-size: var(--H3-Font);
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					letter-spacing: 0.15px;
				}
			}
		}
		:first-child {
			padding-top: 0;
		}
		:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

/** Products **/
main#products-main {
	display: flex;
	flex-direction: column;
	padding: 200px 0;
	.page-title {
		display: inline-flex;
		margin: 0 240px;
	}
	#product-list {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		margin: 138px 424px 0;
		#pagination-container {
			display: flex;
			box-sizing: border-box;
			justify-content: space-between;
			align-items: center;
			#pagination {
				display: flex;
				color: var(--Text-Color);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 500;
				line-height: 24px; /* 150% */
				letter-spacing: 0.08px;
			}
			#sorting {
				display: flex;
				position: relative;
				box-sizing: border-box;
				padding: 16px 20px;
				align-items: center;
				border-radius: 5px;
				border: 1px solid var(--LGrey);
				background: var(--White);
				cursor: pointer;
				#selected-sorting {
					display: inline-flex;
					color: var(--Bold-Text);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 500;
					line-height: 24px;
					letter-spacing: 0.08px;
				}
				#sorting-types {
					display: none;
					position: absolute;
					padding: 0 20px;
					background-color: var(--White);
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
					box-shadow: 0px 2px 3px var(--LGrey);
				}
			}
			#sorting::after {
				content: '';
				display: inline-flex;
				height: 24px;
				width: 24px;
				box-sizing: border-box;
				padding: 6px 4px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-image: url('../images/sorting.svg');
				background-repeat: no-repeat;
				background-position: center;
			}
			#sorting:hover > #sorting-types {
				display: flex;
				flex-direction: column;
				top: 50px;
				left: 0;
				right: 0;
			}
		}
		#products {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.product-item {
				display: flex;
				box-sizing: border-box;
				flex-direction: column;
				align-items: center;
				border-radius: 15px;
				border-radius: 15px;
				margin-top: 30px;
				background: var(
					--LLGrey,
					linear-gradient(
						0deg,
						rgba(0, 0, 0, 0.04) 0%,
						rgba(0, 0, 0, 0.04) 100%
					)
				);
				.product-image {
					display: flex;
					width: 338px;
					height: 339px;
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;
					background-color: var(--LGrey);
					background-size: cover;
					background-repeat: no-repeat;
				}
				.product-name {
					display: flex;
					width: 100%;
					box-sizing: border-box;
					color: var(--Dark-Blue);
					text-align: center;
					justify-content: center;
					font-family: Poppins;
					font-size: 24px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px; /* 100% */
					letter-spacing: 0.12px;
					padding: 16px 0 24px;
				}
			}
		}
	}
}

footer {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	background-image: url('../images/footer-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	#footer-graphics {
		display: flex;
		box-sizing: border-box;
		justify-content: space-between;
		margin: 30px 240px 100px;
		#footer-logo {
			width: 180px;
			height: 77px;
			flex-shrink: 0;
			background-image: url('../images/footer-logo.png');
			background-size: cover;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		#footer-socials {
			display: flex;
			.icon {
				display: flex;
				width: 80px;
				height: 80px;
				background-size: cover;
				background-repeat: no-repeat;
				margin-right: 18px;
				cursor: pointer;
			}
			.facebook {
				background-image: url('../images/facebook.svg');
			}
			.instagram {
				background-image: url('../images/instagram.svg');
			}
			.youtube {
				background-image: url('../images/youtube.svg');
			}
			.twitter {
				background-image: url('../images/twitter.svg');
			}
		}
	}
	#footer-links {
		display: flex;
		justify-content: space-between;
		margin: 0 240px 135px;
		.category {
			display: flex;
			max-width: 375px;
			flex-direction: column;
			.header-link {
				display: flex;
				margin-bottom: 40px;
				a {
					color: var(--White);
					font-family: Poppins;
					font-size: var(--H3-Font);
					font-style: normal;
					font-weight: 600;
					line-height: 36px;
					text-decoration: none;
				}
			}
			.alt-link {
				display: flex;
				a {
					color: var(--Aqua);
					font-family: Poppins;
					font-size: var(--desc-1);
					font-style: normal;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0.03px;
					text-decoration: none;
				}
			}
			.phone::before {
				content: '';
				width: 32px;
				height: 32px;
				margin-right: 7px;
				margin-bottom: 20px;
				background-image: url('../images/phone.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
			.mail::before {
				content: '';
				margin-right: 7px;
				width: 32px;
				height: 32px;
				background-image: url('../images/mail.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
			.footer-desc {
				display: flex;
				color: var(--White);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 150% */
				letter-spacing: 0.08px;
				margin-bottom: 22px;
			}
			a {
				color: var(--White);
				font-family: Poppins;
				font-size: var(--desc-1);
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 120% */
				letter-spacing: 0.1px;
				text-decoration-line: underline;
			}
		}
	}
	#copyright {
		display: flex;
		box-sizing: border-box;
		padding: 30px 240px;
		justify-content: space-between;
		background-color: var(--Dark-Blue);
		#copy-text {
			color: var(--White);
			font-family: Poppins;
			font-size: var(--navigation);
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.08px;
		}
		#copy-links {
			a {
				display: inline-flex;
				margin-right: 20px;
				color: var(--White);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.08px;
				text-decoration: none;
			}
		}
	}
}
.green-button {
	display: inline-flex;
	min-width: 91px;
	min-height: 24px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 15px;
	background: var(--Aqua);
}
.white-button {
	display: inline-flex;
	min-width: 91px;
	min-height: 24px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 15px;
	background: var(--White);
}
.star {
	display: flex;
	width: 20px;
	height: 20px;
	background-image: url('../images/star-rating.svg');
	background-repeat: no-repeat;
	background-size: contain;
}
