header {
	#call-to-action {
		display: flex;
		padding: 0 0 234px 240px;
		#cta-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin-right: 123px;
			#cta-title {
				color: var(--H1-Color);
				font-family: Poppins;
				font-size: var(--H1-Font);
				font-style: normal;
				font-weight: 600;
				line-height: 68px;
				letter-spacing: -0.3px;
			}
			#cta-desc {
				color: var(--Text-Color);
				font-family: Poppins;
				font-size: var(--desc-1);
				font-style: normal;
				font-weight: 400;
				line-height: 28px; /* 140% */
				letter-spacing: 0.03px;
				margin: 50px 0;
			}
			#cta-action {
				#cta-action-text {
					color: var(--White);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0.08px;
				}
			}
		}
		#cta-img {
			width: 945px;
			height: 766px;
			flex-shrink: 0;
			background-image: url('../images/doctor_1.png');
			background-size: cover;
			background-repeat: no-repeat;
			border-bottom-left-radius: 35%;
		}
	}
}
main {
	#prod-cat {
		display: flex;
		box-sizing: border-box;
		flex-direction: column;
		margin: 0 241px;
		border-radius: 15px;
		background: var(--Dark-Blue);
		padding: 40px;
		#prod-cat-title {
			color: var(--White);
			font-family: Poppins;
			font-size: var(--H2-Font);
			font-style: normal;
			font-weight: 600;
			line-height: 52px; /* 108.333% */
			text-transform: capitalize;
		}
		#cats {
			display: flex;
			padding: 30px 0 0 0;
			.product {
				display: flex;
				flex: 1;
				height: 280.969px;
				padding: 30px 20px;
				margin-right: 20px;
				flex-direction: column;
				align-items: center;
				border-radius: 15px;
				background: var(--White);
				box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
				.product-title {
					display: flex;
					margin: 10px 0;
					color: var(--H1-Color);
					text-align: center;
					font-family: Poppins;
					font-size: var(--H3-Font);
					font-style: normal;
					font-weight: 600;
					line-height: 36px;
					text-transform: capitalize;
				}
				.product-desc {
					color: var(--Text-Color);
					text-align: center;
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0.08px;
				}
			}
			:last-child {
				margin-right: 0;
			}
			#med-treatment {
				.product-illustration {
					display: flex;
					width: 93px;
					height: 81px;
					background-image: url('../images/med-treatment.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			#ent {
				.product-illustration {
					display: flex;
					width: 67.001px;
					height: 84.485px;
					background-image: url('../images/ent.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			#animal-treatment {
				.product-illustration {
					display: flex;
					width: 87px;
					height: 85px;
					background-image: url('../images/an-treatment.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			#vitamins {
				.product-illustration {
					display: flex;
					width: 67.001px;
					height: 84.485px;
					background-image: url('../images/ent.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
		}
	}
	.merch {
		display: flex;
		margin: 200px 241px;
		.product-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 124px;
			.product-title {
				display: inline-flex;
				flex-direction: column;
				margin-bottom: 20px;
				color: var(--H1-Color);
				font-family: Poppins;
				font-size: var(--H2-Font);
				font-style: normal;
				font-weight: 600;
				line-height: 52px;
				text-transform: capitalize;
				span {
					display: block;
				}
			}
			.product-desc {
				display: flex;
				color: var(--Text-Color);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.08px;
			}
			.product-pros {
				display: flex;
				flex-direction: column;
				margin: 28px 0;
				-webkit-padding-start: 25px;
				padding-inline-start: 226px5px;
				.pro {
					margin-bottom: 15px;
					color: var(--Bold-Text);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 500;
					line-height: 24px;
					letter-spacing: 0.08px;
				}
				:last-child {
					margin-bottom: 0;
				}
			}
			.product-learn-more {
				display: flex;
				box-sizing: border-box;
				width: 164px;
				hight: 56px;
				padding: 16px 30px;
				.learn-more-text {
					color: var(--White);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0.08px;
					text-transform: uppercase;
				}
			}
		}
		.product-illustration {
			display: flex;
			width: 582px;
			height: 630px;
			flex-shrink: 0;
			background-image: url('../images/vet-xray.png');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	#product-2 {
		display: flex;
		flex-direction: row-reverse;
		.product-text {
			margin-right: 0;
			margin-left: 124px;
		}
	}
	#book-section {
		display: flex;
		box-sizing: border-box;
		padding: 70px 228px;
		margin-bottom: 200px;
		height: 477px;
		justify-content: center;
		align-items: center;
		background: var(--Dark-Blue);
		#book-text {
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			#book-title {
				display: inline-flex;
				box-sizing: border-box;
				flex-direction: column;
				color: var(--White);
				font-family: Poppins;
				font-size: var(--H2-Font);
				font-style: normal;
				font-weight: 600;
				line-height: 52px;
				text-transform: capitalize;
				margin-bottom: 21px;
			}
			#book-desc {
				box-sizing: border-box;
				color: var(--White);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.08px;
				margin-bottom: 30px;
			}
			#book-now-button {
				box-sizing: border-box;
				width: 156px;
				height: 56px;
				#book-now-text {
					color: var(--Aqua);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0.08px;
					text-transform: uppercase;
				}
			}
		}
		#book-vid {
			cursor: pointer;
			width: 704.676px;
			height: 337px;
			margin-left: 30px;
			flex-shrink: 0;
			border-radius: 15px;
			background-color: var(--LGrey);
			background-image: url('../images/play.svg');
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	#testimonial {
		display: flex;
		position: relative;
		box-sizing: border-box;
		padding: 125px 240px 126px 240px;
		justify-content: center;
		align-items: center;
		background: var(--LLGrey);
		margin-bottom: 200px;
		#testimonial-illustration {
			width: 490px;
			height: 490px;
			margin-right: 130px;
			flex-shrink: 0;
			border-radius: 40px;
			background-color: var(--Aqua);
			background-image: url('../images/vet-xray.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
footer {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	background-image: url('../images/footer-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	#footer-graphics {
		display: flex;
		box-sizing: border-box;
		justify-content: space-between;
		margin: 30px 240px 100px;
		#footer-logo {
			width: 180px;
			height: 77px;
			flex-shrink: 0;
			background-image: url('../images/footer-logo.png');
			background-size: cover;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		#footer-socials {
			display: flex;
			.icon {
				display: flex;
				width: 80px;
				height: 80px;
				background-size: cover;
				background-repeat: no-repeat;
				margin-right: 18px;
				cursor: pointer;
			}
			.facebook {
				background-image: url('../images/facebook.svg');
			}
			.instagram {
				background-image: url('../images/instagram.svg');
			}
			.youtube {
				background-image: url('../images/youtube.svg');
			}
			.twitter {
				background-image: url('../images/twitter.svg');
			}
		}
	}
	#footer-links {
		display: flex;
		justify-content: space-between;
		margin: 0 240px 135px;
		.category {
			display: flex;
			max-width: 375px;
			flex-direction: column;
			.header-link {
				display: flex;
				margin-bottom: 40px;
				a {
					color: var(--White);
					font-family: Poppins;
					font-size: var(--H3-Font);
					font-style: normal;
					font-weight: 600;
					line-height: 36px;
					text-decoration: none;
				}
			}
			.alt-link {
				display: flex;
				a {
					color: var(--Aqua);
					font-family: Poppins;
					font-size: var(--desc-1);
					font-style: normal;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0.03px;
					text-decoration: none;
				}
			}
			.phone::before {
				content: '';
				width: 32px;
				height: 32px;
				margin-right: 7px;
				margin-bottom: 20px;
				background-image: url('../images/phone.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
			.mail::before {
				content: '';
				margin-right: 7px;
				width: 32px;
				height: 32px;
				background-image: url('../images/mail.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
			.footer-desc {
				display: flex;
				color: var(--White);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 150% */
				letter-spacing: 0.08px;
				margin-bottom: 22px;
			}
			a {
				color: var(--White);
				font-family: Poppins;
				font-size: var(--desc-1);
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 120% */
				letter-spacing: 0.1px;
				text-decoration-line: underline;
			}
		}
	}
	#copyright {
		display: flex;
		box-sizing: border-box;
		padding: 30px 240px;
		justify-content: space-between;
		background-color: var(--Dark-Blue);
		#copy-text {
			color: var(--White);
			font-family: Poppins;
			font-size: var(--navigation);
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.08px;
		}
		#copy-links {
			a {
				display: inline-flex;
				margin-right: 20px;
				color: var(--White);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.08px;
				text-decoration: none;
			}
		}
	}
}
.green-button {
	display: inline-flex;
	min-width: 91px;
	min-height: 24px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 15px;
	background: var(--Aqua);
}
.white-button {
	display: inline-flex;
	min-width: 91px;
	min-height: 24px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 15px;
	background: var(--White);
}
.star {
	display: flex;
	width: 20px;
	height: 20px;
	background-image: url('../images/star-rating.svg');
	background-repeat: no-repeat;
	background-size: contain;
}
