header {
	#call-to-action {
		display: flex;
		padding: 0 0 234px 240px;
		#cta-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin-right: 123px;
			#cta-title {
				color: var(--H1-Color);
				font-family: 'Open Sans';
				font-size: var(--H1-Font);
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
			#cta-desc {
				color: var(--Text-Color);
				font-family: 'Open Sans';
				font-size: var(--desc-1);
				font-style: normal;
				font-weight: 400;
				margin: 20px 0;
				line-height: normal;
			}
			#cta-action {
				#cta-action-text {
					color: var(--White);
					font-family: 'Open Sans';
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0.16px;
				}
			}
		}
		#cta-img {
			width: 945px;
			height: 766px;
			flex-shrink: 0;
			background-image: url('../images/doctor_1.png');
			background-size: cover;
			background-repeat: no-repeat;
			border-bottom-left-radius: 35%;
		}
	}
}
/** Home **/
main {
	#prod-cat {
		display: flex;
		box-sizing: border-box;
		flex-direction: column;
		margin: 0 241px;
		border-radius: 15px;
		background: var(--Blue);
		padding: 40px;
		#prod-cat-title {
			color: var(--White);
			font-family: 'Open Sans';
			font-size: var(--Page-title);
			font-style: normal;
			font-weight: 600;
			line-height: normal; /* 108.333% */
			text-transform: capitalize;
		}
		#cats {
			display: flex;
			flex-wrap: wrap;
			/* padding: 30px 0 0 0; */
			.product-container {
				display: flex;
				flex: 1;
				height: auto;
				padding: 0;
				margin: 20px;
				.product {
					display: flex;
					padding: 30px 20px;
					flex-direction: column;
					align-items: center;
					border-radius: 15px;
					background: var(--White);
					box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
					.product-title {
						display: flex;
						margin: 10px 0;
						color: var(--H1-Color);
						text-align: center;
						font-family: 'Open Sans';
						font-size: var(--H3-Font);
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						text-transform: capitalize;
					}
					.product-desc {
						color: var(--Text-Color);
						text-align: center;
						font-family: 'Open Sans';
						font-size: var(--navigation);
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
			}
			#med-treatment {
				.product-illustration {
					display: flex;
					width: 93px;
					height: 81px;
					background-image: url('../images/med-treatment.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			#ent {
				.product-illustration {
					display: flex;
					width: 67.001px;
					height: 84.485px;
					background-image: url('../images/ent.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			#animal-treatment {
				.product-illustration {
					display: flex;
					width: 87px;
					height: 85px;
					background-image: url('../images/an-treatment.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			#vitamins {
				.product-illustration {
					display: flex;
					width: 67.001px;
					height: 84.485px;
					background-image: url('../images/ent.svg');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
		}
	}
	.merch {
		display: flex;
		margin: 200px 241px;
		.product-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 124px;
			.product-title {
				display: inline-flex;
				flex-direction: column;
				margin-bottom: 20px;
				font-family: 'Open Sans';
				font-size: var(--Page-title);
				color: var(--Section-title);
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				span {
					display: block;
				}
			}
			.product-desc {
				color: var(--Text-Color);
				font-family: 'Open Sans';
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
			.product-pros {
				display: flex;
				flex-direction: column;
				margin: 28px 0;
				-webkit-padding-start: 25px;
				padding-inline-start: 25px;
				.pro {
					margin-bottom: 15px;
					color: var(--Bold-Text);
					font-family: 'Open Sans';
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 0.16px;
				}
				:last-child {
					margin-bottom: 0;
				}
			}
			.product-learn-more {
				display: flex;
				box-sizing: border-box;
				width: 164px;
				hight: 56px;
				padding: 16px 30px;
				.learn-more-text {
					color: var(--White);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 0.16px;
					text-transform: capitalize;
				}
			}
		}
		.product-illustration {
			display: flex;
			width: 582px;
			height: 630px;
			flex-shrink: 0;
			background-image: url('../images/vet-xray.png');
			background-size: contain;
			background-repeat: no-repeat;
		}
		.merch-mobi-illustration {
			display: none;
		}
	}
	#product-2 {
		display: flex;
		flex-direction: row-reverse;
		.product-text {
			margin-right: 0;
			margin-left: 124px;
		}
	}
	#book-section {
		display: flex;
		box-sizing: border-box;
		padding: 70px 228px;
		margin-bottom: 200px;
		height: 477px;
		justify-content: center;
		align-items: center;
		background: var(--Blue);
		#book-text {
			display: flex;
			flex: 1;
			box-sizing: border-box;
			flex-direction: column;
			#book-title {
				display: inline-flex;
				box-sizing: border-box;
				flex-direction: column;
				color: var(--White);
				font-family: 'Open Sans';
				font-size: var(--Page-title);
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: capitalize;
				margin-bottom: 21px;
			}
			#book-desc {
				box-sizing: border-box;
				color: var(--White);
				font-family: 'Open Sans';
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				margin-bottom: 30px;
			}
			#book-vid-mobi {
				display: none;
			}
			#book-now-button {
				box-sizing: border-box;
				width: 156px;
				height: 56px;
				#book-now-text {
					color: var(--Aqua);
					font-family: 'Open Sans';
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 0.16px;
					text-transform: uppercase;
				}
			}
		}
		#book-vid {
			display: flex;
			cursor: pointer;
			flex: 1;
			height: 337px;
			margin-left: 30px;
			border-radius: 15px;
			background-color: var(--LGrey);
			background-image: url('../images/play.svg');
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	#testimonial {
		display: flex;
		position: relative;
		box-sizing: border-box;
		padding: 125px 240px 126px 240px;
		justify-content: center;
		align-items: center;
		background: var(--LLGrey);
		margin-bottom: 200px;
		#testimonial-illustration {
			width: 490px;
			height: 490px;
			margin-right: 130px;
			flex-shrink: 0;
			border-radius: 40px;
			background-color: var(--Aqua);
			background-image: url('../images/vet-xray.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
/** Generic **/
.page-title {
	color: var(--H1-Color);
	font-family: 'Open Sans';
	font-size: var(--Page-title);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/** About **/
main#about-main {
	display: flex;
	flex-direction: column;
	padding: 200px 240px;
	#about-desc {
		display: none;
	}
	.about-section {
		display: flex;
		box-sizing: border-box;
		margin-top: 100px;
		.section-image-container {
			#about-img {
				display: flex;
				width: 610.355px;
				height: 584.968px;
				flex-shrink: 0;
				background-image: url('../images/vet-xray.png');
				background-size: 70%;
				background-position: center;
				background-repeat: no-repeat;
				background-color: var(--Gray-Scale-5);
				mask: url('../images/about-mask-1.svg');
				mask-repeat: no-repeat;
				mask-position: center;
			}
			#network-img {
				display: flex;
				width: 610.355px;
				height: 584.968px;
				flex-shrink: 0;
				background-image: url('../images/vet-xray.png');
				background-size: 70%;
				background-position: center;
				background-repeat: no-repeat;
				background-color: var(--Gray-Scale-5);
				mask: url('../images/about-mask-2.svg');
				mask-repeat: no-repeat;
				mask-position: center;
			}
		}
		.section-text-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.section-text-title {
				display: inline-flex;
				margin-bottom: 30px;
				color: var(--H1-Color);
				font-size: var(--H2-Font);
				font-style: normal;
				font-weight: 600;
				line-height: 52px; /* 108.333% */
				text-transform: capitalize;
			}
			.section-text-desc {
				color: var(--Text-Color);
				text-align: justify;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 150% */
				letter-spacing: 0.08px;
			}
		}
	}

	.left-space {
		flex-direction: row;
		.section-text-container {
			margin-left: 150px;
		}
	}
	.right-space {
		flex-direction: row-reverse;
		.section-text-container {
			margin-right: 150px;
		}
	}
}
/** Contact **/
main#contact-main {
	display: flex;
	flex-direction: column;
	padding: 200px 240px;
	#contact-desc {
		display: none;
		color: var(--Text-Color);
		/* text-align: center; */
		font-family: Poppins;
		font-size: var(--desc-1);
		margin-top: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0.021px;
	}
	#contact-form-container {
		display: flex;
		flex-direction: column;
		background-color: var(--LLGrey);
		margin-top: 100px;
		padding: 40px;
		#form-title {
			color: var(--Dark-Blue);
			font-family: Poppins;
			font-size: var(--H2-Font);
			text-align: center;
			font-style: normal;
			font-weight: 600;
			line-height: 52px;
			text-transform: capitalize;
			margin-bottom: 50px;
		}
		#contact-form {
			display: flex;
			flex-direction: column;
			align-items: center;
			#contact-info {
				display: flex;
				width: 100%;
				box-sizing: border-box;
				input {
					display: flex;
					flex: 1;
					box-sizing: border-box;
					padding: 12px 16px;
					align-items: flex-start;
					margin-right: 40px;
					border-radius: 15px;
					background: var(--White);
					border: none;
				}

				:last-child {
					margin-right: 0;
				}
			}
			textarea {
				display: flex;
				height: 180px;
				padding: 12px 16px;
				align-items: flex-start;
				gap: 16px;
				align-self: stretch;
				border-radius: 15px;
				background: var(--White);
				border: none;
				margin-top: 32px;
			}
			button#contact-submit {
				display: flex;
				color: var(--White);
				height: 56px;
				width: 106px;
				padding: 16px 32px;
				justify-content: center;
				align-items: center;
				gap: 4px;
				border-radius: 15px;
				background: var(--Aqua);
				border: none;
				margin-top: 50px;
				cursor: pointer;
			}
		}
	}
}

/** Product categories **/
main#product-categories-main {
	display: flex;
	flex-direction: column;
	padding: 87px 310px;
	#product-categories {
		display: flex;
		margin: 50px 0 0;
		justify-content: space-between;
		flex-wrap: wrap;
		.product-category {
			display: flex;
			padding: 0;
			margin: 0 auto 40px;
			.product-category-illustration {
				display: flex;
				width: 421px;
				height: 421px;
				border-radius: 15px;
				margin: 10px;
				background-color: var(--LGrey);
				background-image: url('../images/prod-cat-placeholder.png');
				background-size: cover;
				background-repeat: no-repeat;
				text-decoration: none;
				cursor: pointer;
				justify-content: center;
				.product-category-text {
					display: flex;
					width: 100%;
					position: relative;
					box-sizing: border-box;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					border-radius: 15px;
					padding: 60px;
					transition: all 0.4s ease;
					overflow: hidden;
					.category-title {
						color: var(--White);
						text-align: center;
						text-shadow: 0px 0px 15px #000;
						font-family: 'Open Sans';
						font-size: var(--H2-Font);
						text-decoration: none;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						z-index: 5;
						transition: all 0.4s linear;
					}
					.category-desc {
						opacity: 0;
						top: 300px;
						position: absolute;
						color: var(--White);
						text-align: center;
						font-family: 'Open Sans';
						font-size: var(--navigation);
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 0.16px;
					}
				}
			}
			.product-category-illustration:hover {
				overflow: hidden;
				.product-category-text {
					background-color: rgba(0, 0, 0, 0.6);
					transition: all 0.4s ease;
					.category-title {
						margin-bottom: 10px;
						transition: all 0.4s linear;
					}
					.category-desc {
						position: relative;
						top: 0;
						opacity: 1;
						z-index: 5;
					}
				}
			}
		}
		:last-child {
			padding-bottom: 0;
			border-bottom: none;
			.product-category-illustration {
				margin-right: 0;
			}
		}
	}
}

/** Products **/
main#products-main {
	display: flex;
	flex-direction: column;
	padding: 200px 0;
	.page-title {
		display: inline-flex;
		margin: 0 240px;
	}
	#product-list {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		margin: 138px 424px 0;
		#pagination-container {
			display: flex;
			box-sizing: border-box;
			justify-content: space-between;
			align-items: center;
			#pagination {
				display: flex;
				color: var(--Text-Color);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 500;
				line-height: 24px; /* 150% */
				letter-spacing: 0.08px;
			}
			#sorting {
				display: flex;
				position: relative;
				box-sizing: border-box;
				padding: 16px 20px;
				align-items: center;
				border-radius: 5px;
				border: 1px solid var(--LGrey);
				background: var(--White);
				cursor: pointer;
				#selected-sorting {
					display: inline-flex;
					color: var(--Bold-Text);
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 500;
					line-height: 24px;
					letter-spacing: 0.08px;
				}
				#sorting-types {
					display: none;
					position: absolute;
					padding: 0 20px;
					background-color: var(--White);
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
					box-shadow: 0px 2px 3px var(--LGrey);
				}
			}
			#sorting::after {
				content: '';
				display: inline-flex;
				height: 24px;
				width: 24px;
				box-sizing: border-box;
				padding: 6px 4px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-image: url('../images/sorting.svg');
				background-repeat: no-repeat;
				background-position: center;
			}
			#sorting:hover > #sorting-types {
				display: flex;
				flex-direction: column;
				top: 50px;
				left: 0;
				right: 0;
			}
		}
		#products {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.product-item {
				display: flex;
				box-sizing: border-box;
				flex-direction: column;
				margin: auto;
				align-items: center;
				border-radius: 15px;
				border-radius: 15px;
				margin-top: 30px;
				background: var(
					--LLGrey,
					linear-gradient(
						0deg,
						rgba(0, 0, 0, 0.04) 0%,
						rgba(0, 0, 0, 0.04) 100%
					)
				);
				a {
					text-decoration: none;
				}
				.product-image {
					display: flex;
					width: 338px;
					height: 339px;
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;
					background-color: var(--LGrey);
					background-size: cover;
					background-repeat: no-repeat;
				}
				.product-name {
					display: flex;
					width: 100%;
					box-sizing: border-box;
					color: var(--Dark-Blue);
					text-align: center;
					justify-content: center;
					font-family: Poppins;
					font-size: 24px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px; /* 100% */
					letter-spacing: 0.12px;
					padding: 16px 0 24px;
				}
			}
		}
	}
}

/** Product **/
main#product-main {
	display: flex;
	flex-direction: column;
	padding: 196px 240px 0;
	#prod-summary-sect {
		display: flex;
		margin: 116px 0 38px;
		#prod-illustration {
			display: flex;
			width: 483px;
			height: 483px;
			border-radius: 40px;
			box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
			background-image: url('../images/vet-xray-2.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		#pro-summary-text {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			margin-left: 30px;
			#prod-illustration-mobi {
				display: none;
			}
			#prod-name {
				color: var(--H1-Color);
				font-family: Poppins;
				font-size: var(--H2-Font);
				font-style: normal;
				font-weight: 600;
				line-height: 52px;
				text-transform: capitalize;
				margin-bottom: 23px;
			}
			#prod-summary {
				display: inline-flex;
				color: var(--Text-Color);
				text-align: justify;
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.08px;
				margin-bottom: 23px;
			}
			#prod-pros {
				margin: 0 0 23px 0;
				padding-bottom: 5px;
				-webkit-padding-start: 25px;
				padding-inline-start: 25px;
				li {
					color: var(--Text-Color);
					text-align: justify;
					font-family: Poppins;
					font-size: var(--navigation);
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0.08px;
				}
			}
		}
	}
	#prod-contact {
		#contact-form-container {
			display: flex;
			flex-direction: column;
			#form-title {
				color: var(--Dark-Blue);
				font-family: Poppins;
				font-size: var(--H2-Font);
				text-align: center;
				font-style: normal;
				font-weight: 600;
				line-height: 52px;
				text-transform: capitalize;
				margin-bottom: 50px;
			}
			#contact-form {
				display: flex;
				flex-direction: column;
				align-items: center;
				#contact-info {
					display: flex;
					width: 100%;
					box-sizing: border-box;
					margin-bottom: 32px;
					input {
						display: flex;
						flex: 1;
						padding: 12px 16px;
						align-items: flex-start;
						margin-right: 40px;
						flex: 1 0 0;
						border-radius: 15px;
						border: 1px solid var(--Blue);
						background: var(--White);
					}

					:last-child {
						margin-right: 0;
					}
				}
				textarea {
					display: flex;
					height: 106px;
					padding: 12px 16px;
					align-items: flex-start;
					align-self: stretch;
					border-radius: 15px;
					background: var(--White);
					border: 1px solid var(--Blue);
					margin-bottom: 31px;
				}
				button#contact-submit {
					display: flex;
					color: var(--White);
					height: 56px;
					width: 155px;
					padding: 16px 32px;
					justify-content: center;
					align-items: center;
					gap: 4px;
					border-radius: 15px;
					background: var(--Aqua);
					border: none;
					cursor: pointer;
				}
			}
		}
	}
	#pro-details-sect {
		display: flex;
		flex-direction: column;
		position: relative;
		margin: 100px 0 196px;
		#tabs {
			display: flex;
			border-radius: 10px;
			box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
			overflow: hidden;
			.tab {
				display: flex;
				flex: 1;
				justify-content: center;
				align-items: center;
				text-align: center;
				padding: 16px 4px;
				color: var(--Aqua);
				font-family: Poppins;
				font-size: var(--desc-1);
				font-style: normal;
				font-weight: 500;
				line-height: 28px;
				letter-spacing: 0.03px;
				text-transform: uppercase;
				cursor: pointer;
			}
			.tab.active {
				color: var(--White);
				background: var(--Aqua);
			}
		}
		#sections {
			display: flex;
			margin-top: 50px;
			position: relative;
			z-index: 1;
			.section {
				display: none;
				position: absolute;
				z-index: -1;
				.table {
					display: flex;
					box-sizing: border-box;
					flex-direction: column;
					width: 100%;
					border: 1px solid var(--LGrey);
					.table-row {
						display: flex;
						box-sizing: border-box;
						align-items: center;
						border-bottom: 1px solid var(--LGrey);
						padding: 0;
						.title {
							display: flex;
							align-items: center;
							box-sizing: border-box;
							flex: 1;
							height: 100%;
							padding: 7px 16px;
							color: var(--Bold-Text);
							font-family: Poppins;
							font-size: var(--navigation);
							font-style: normal;
							font-weight: 500;
							line-height: 24px; /* 150% */
							letter-spacing: 0.08px;
							border-right: 1px solid var(--LGrey);
						}
						.desc {
							display: flex;
							align-items: center;
							box-sizing: border-box;
							flex: 4;
							padding: 19px 15px;
						}
					}
					.table-row:nth-child(even) {
						background-color: var(--LLGrey);
					}
					:last-child {
						border: none;
					}
				}
				#media {
					display: flex;
					justify-content: space-between;
					width: 100%;
					flex-wrap: wrap;
					.image {
						display: flex;
						height: 300px;
						min-width: 300px;
						background-color: var(--LGrey);
						border-radius: 10px;
						margin: 15px;
					}
				}
				.media-video {
					margin: 15px;
				}
			}
			.section.active {
				display: flex;
				position: relative;
				width: 100%;
				z-index: 2;
				ul {
					-webkit-padding-start: 25px;
					padding-inline-start: 25px;
					li {
						color: var(--Text-Color);
						font-family: Poppins;
						font-size: var(--navigation);
						font-style: normal;
						font-weight: 400;
						line-height: 40px;
						letter-spacing: 0.08px;
					}
				}
			}
		}
	}
}

footer {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	background-image: url('../images/footer-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	#footer-graphics {
		display: flex;
		box-sizing: border-box;
		justify-content: space-between;
		margin: 30px 240px 100px;
		#footer-logo {
			width: 180px;
			height: 77px;
			flex-shrink: 0;
			background-image: url('../images/footer-logo.png');
			background-size: cover;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		#footer-socials {
			display: flex;
			.icon {
				display: flex;
				width: 80px;
				height: 80px;
				background-size: contain;
				background-repeat: no-repeat;
				margin-right: 18px;
				cursor: pointer;
			}
			.facebook {
				background-image: url('../images/facebook_white.svg');
			}
			.instagram {
				background-image: url('../images/insta_white.svg');
			}
			.youtube {
				background-image: url('../images/youtube_white.svg');
			}
			.twitter {
				background-image: url('../images/twitter_white.svg');
			}
		}
	}
	#footer-links {
		display: flex;
		justify-content: space-between;
		margin: 0 240px 135px;
		.category {
			display: flex;
			max-width: 375px;
			flex-direction: column;
			.header-link {
				display: flex;
				margin-bottom: 40px;
				a {
					color: var(--White);
					font-family: 'Open Sans';
					font-size: var(--H3-Font);
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					text-decoration: none;
				}
				a:active {
					text-decoration: none;
				}
			}
			.alt-link {
				display: flex;
				a {
					color: var(--Aqua);
					font-family: 'Open Sans';
					font-size: var(--desc-1);
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					letter-spacing: 0.16px;
					text-decoration: none;
				}
				a:active {
					text-decoration: none;
				}
			}
			.phone::before {
				content: '';
				width: 32px;
				height: 32px;
				margin-right: 7px;
				margin-bottom: 20px;
				background-image: url('../images/phone.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
			.mail::before {
				content: '';
				margin-right: 7px;
				width: 32px;
				height: 32px;
				background-image: url('../images/mail.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
			.footer-desc {
				display: flex;
				color: var(--White);
				font-family: 'Open Sans';
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 150% */
				letter-spacing: 0.08px;
				margin-bottom: 22px;
			}
			a {
				color: var(--White);
				font-family: 'Open Sans';
				font-size: var(--desc-1);
				font-style: normal;
				font-weight: 400;
				line-height: nromal;
				text-decoration-line: none;
			}
			a:active {
				text-decoration: none;
			}
		}
	}
	#copyright {
		display: flex;
		box-sizing: border-box;
		padding: 30px 240px;
		justify-content: space-between;
		background-color: var(--Dark-Blue);
		#copy-text {
			color: var(--White);
			font-family: 'Open Sans';
			font-size: var(--navigation);
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		#copy-links {
			a {
				display: inline-flex;
				margin-right: 20px;
				color: var(--White);
				font-family: 'Open Sans';
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.08px;
				text-decoration: none;
			}
		}
	}
}

.green-button {
	display: inline-flex;
	min-width: 91px;
	min-height: 24px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 15px;
	background: var(--LBlue);
}
.white-button {
	display: inline-flex;
	min-width: 91px;
	min-height: 24px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 15px;
	background: var(--White);
}
.star {
	display: flex;
	width: 20px;
	height: 20px;
	background-image: url('../images/star-rating.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

@media screen and (max-width: 1890px) {
	main {
		#book-section {
			height: auto;
		}
	}
}

@media screen and (max-width: 1580px) {
	header {
		#call-to-action {
			display: flex;
			position: relative;
			padding: 0 0 234px 10%;
			#cta-text {
				position: relative;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				height: 766px;
				margin-right: 5%;
				#cta-title {
				}
				#cta-desc {
					margin: 50px 0;
				}
				#cta-action {
				}
			}
			#cta-img {
				position: absolute;
				z-index: -1;
				opacity: 0.5;
				width: 100%;
				left: 0;
				right: 0;
				height: 766px;
				flex-shrink: 0;
				background-image: url('../images/doctor_1.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top center;
				border-bottom-left-radius: 0;
			}
		}
	}
	main {
		#prod-cat {
			margin: 0 10%;
		}
		.merch {
			margin: 200px 10%;
		}
		#book-section {
			padding: 70px 9%;
		}
		#testimonial {
			padding: 125px 10% 126px;
		}
	}
	/** About **/
	main#about-main {
		padding: 200px 10%;
		.about-section {
			.section-image-container {
				flex: 1;
				#about-img {
					width: 100%;
					mask-size: 100%;
				}
				#network-img {
					width: 100%;
					mask-size: 100%;
				}
			}
			.section-text-container {
				flex: 1;
			}
		}

		.left-space {
			flex-direction: row;
			.section-text-container {
				margin-left: 10%;
			}
		}
		.right-space {
			flex-direction: row-reverse;
			.section-text-container {
				margin-right: 10%;
			}
		}
	}
	/** Product categories **/
	main#product-categories-main {
		display: flex;
		flex-direction: column;
		padding: 200px 10%;
	}
	/** Products **/
	main#products-main {
		display: flex;
		flex-direction: column;
		padding: 200px 0;
		.page-title {
			display: inline-flex;
			margin: 0 10%;
		}
		#product-list {
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			margin: 138px 20% 0;
		}
	}
	/** Product **/
	main#product-main {
		display: flex;
		flex-direction: column;
		padding: 196px 10% 0;
		#prod-summary-sect {
			display: flex;
			margin-top: 116px;
			#prod-illustration {
				display: flex;
				flex: 1;
				width: 100%;
				height: 500px;
			}
			#pro-summary-text {
				display: flex;
				flex: 1;
			}
		}
		#pro-details-sect {
			display: flex;
			flex-direction: column;
			margin: 100px 0 196px;
			#tabs {
				overflow: hidden;
				.tab {
					display: flex;
					flex: 1;
					justify-content: center;
					text-align: center;
					padding: 16px 4px;
					color: var(--Aqua);
					font-family: Poppins;
					font-size: var(--desc-1);
					font-style: normal;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0.03px;
					text-transform: uppercase;
					cursor: pointer;
				}
				.tab.active {
					color: var(--White);
					background: var(--Aqua);
				}
			}
			#sections {
				display: flex;
				margin-top: 50px;
				position: relative;
				z-index: 1;
				.section {
					display: none;
					position: absolute;
					z-index: -1;
					.table {
						display: flex;
						box-sizing: border-box;
						flex-direction: column;
						width: 100%;
						border: 1px solid var(--LGrey);
						.table-row {
							display: flex;
							box-sizing: border-box;
							align-items: center;
							border-bottom: 1px solid var(--LGrey);
							padding: 0;
							.title {
								display: flex;
								align-items: center;
								box-sizing: border-box;
								flex: 1;
								height: 100%;
								padding: 7px 16px;
								color: var(--Bold-Text);
								font-family: Poppins;
								font-size: var(--navigation);
								font-style: normal;
								font-weight: 500;
								line-height: 24px; /* 150% */
								letter-spacing: 0.08px;
								border-right: 1px solid var(--LGrey);
							}
							.desc {
								display: flex;
								align-items: center;
								box-sizing: border-box;
								flex: 4;
								padding: 19px 15px;
							}
						}
						.table-row:nth-child(even) {
							background-color: var(--LLGrey);
						}
						:last-child {
							border: none;
						}
					}
					#media {
						display: flex;
						.image {
							display: flex;
							height: 300px;
							width: 300px;
							background-color: var(--LGrey);
							border-radius: 10px;
						}
					}
				}
				.section.active {
					display: flex;
				}
			}
		}
	}
	footer {
		#footer-graphics {
			margin: 30px 10% 100px;
		}
		#footer-links {
			margin: 0 10% 135px;
		}
		#copyright {
			padding: 30px 10%;
		}
	}
}

@media screen and (max-width: 1180px) {
	main {
		.merch {
			margin: 200px 10%;
			.product-text {
				flex: 1;
				margin-right: 10%;
			}
			.product-illustration {
				flex: 1;
				width: auto;
				background-position: center;
			}
		}
		#product-2 {
			.product-text {
				margin-left: 10%;
			}
		}
		#book-section {
			height: auto;
			#book-text {
				flex: 1;
			}
			#book-vid {
				flex: 2;
				width: auto;
			}
		}
		#testimonial {
			#testimonial-slider {
				flex: 1;
			}
			#testimonial-illustration {
				display: flex;
				flex: 1;
				width: auto;
				margin-right: 10%;
				background-size: contain;
				background-position: center;
			}
		}
	}
	/** Products **/
	main#products-main {
		display: flex;
		flex-direction: column;
		padding: 200px 0;
		.page-title {
			display: inline-flex;
			margin: 0 5%;
		}
		#product-list {
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			margin: 138px 10% 0;
		}
	}
}

@media screen and (max-width: 980px) {
	header {
		#call-to-action {
			display: flex;
			position: relative;
			align-items: center;
			text-align: center;
			padding: 0 10% 234px 10%;
			#cta-text {
				margin: 0;
				height: 366px;
				align-items: center;
				text-align: center;
				#cta-title {
				}
				#cta-desc {
					margin: 50px 0;
				}
				#cta-action {
					position: absolute;
					bottom: -100px;
				}
			}
			#cta-img {
				position: absolute;
				z-index: -1;
				opacity: 0.5;
				width: 100%;
				left: 0;
				right: 0;
				height: 366px;
				flex-shrink: 0;
				background-image: url('../images/doctor_1.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top center;
				border-bottom-left-radius: 0;
			}
		}
	}
	main {
		#prod-cat {
			#prod-cat-title {
				text-align: center;
			}
		}
		.merch {
			display: flex;
			flex-direction: column;
			align-items: center;
			.product-text {
				text-align: center;
				list-style-position: inside;
				align-items: center;
				margin: 0;
				.product-title {
					text-align: center;
				}
				.product-desc {
				}
				.product-pros {
					-webkit-padding-start: 0;
					padding-inline-start: 0;
				}
				.product-learn-more {
					width: 164px;
				}
			}
			.product-illustration {
				display: none;
			}
			.merch-mobi-illustration {
				display: flex;
				width: 100%;
				height: 314px;
				background-image: url('../images/vet-xray.png');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		#product-2 {
			.product-text {
				margin-left: 0;
			}
		}
		#book-section {
			flex-direction: column;
			height: auto;
			#book-text {
				flex: 1;
				align-items: center;
				#book-title {
					text-align: center;
				}
				#book-desc {
					text-align: center;
				}
				#book-vid-mobi {
					display: flex;
					cursor: pointer;
					width: 100%;
					height: 184px;
					margin: 0 0 30px 0;
					border-radius: 15px;
					background-color: var(--LGrey);
					background-image: url('../images/play.svg');
					background-position: center;
					background-repeat: no-repeat;
				}
			}
			#book-vid {
				display: none;
			}
		}
		#testimonial {
			display: flex;
			flex-direction: column;
			#testimonial-illustration {
				display: none;
			}
		}
	}
	/** About **/
	main#about-main {
		padding: 200px 10%;
		#about-desc {
			display: flex;
			margin: 30px 0;
			text-align: center;
		}
		.about-section {
			display: flex;
			.section-image-container {
				flex: 1;
				#about-img {
					width: 100%;
					mask-size: contain;
					margin-bottom: 5%;
				}
				#network-img {
					width: 100%;
					mask-size: contain;
				}
			}
			.section-text-container {
				flex: 1;
			}
		}

		.left-space {
			flex-direction: column;
			.section-text-container {
				margin: 0;
			}
		}
		.right-space {
			flex-direction: column;
			.section-text-container {
				margin: 0;
			}
		}
	}
	/** Contact **/
	main#contact-main {
		display: flex;
		flex-direction: column;
		padding: 200px 10%;
		text-align: center;
		#contact-desc {
			display: flex;
			text-align: center;
		}
	}
	/** Product categories **/
	main#product-categories-main {
		display: flex;
		flex-direction: column;
		padding: 200px 5%;
		#product-categories {
			.product-category {
				display: flex;
				padding: 20px 0;
				margin-bottom: 0;
				flex-direction: column;
				align-items: center;
				text-align: center;
				.product-category-illustration {
					margin-right: 0;
				}
			}
		}
	}
	/** Product **/
	main#product-main {
		display: flex;
		flex-direction: column;
		padding: 196px 5% 0;
		#prod-summary-sect {
			display: flex;
			margin-top: 116px;
			flex-direction: column;
			#prod-illustration {
				display: none;
			}
			#pro-summary-text {
				display: flex;
				flex: 1;
				margin-left: 0;
				#prod-illustration-mobi {
					display: flex;
					width: 100%;
					min-height: 500px;
					margin: 25px 0;
					border-radius: 40px;
					box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
					background-image: url('../images/vet-xray-2.png');
					background-size: cover;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
		#prod-contact {
			#contact-form-container {
				display: flex;
				flex-direction: column;
				#form-title {
					color: var(--Dark-Blue);
					font-family: Poppins;
					font-size: var(--H2-Font);
					text-align: center;
					font-style: normal;
					font-weight: 600;
					line-height: 52px;
					text-transform: capitalize;
					margin-bottom: 50px;
				}
				#contact-form {
					display: flex;
					flex-direction: column;
					box-sizing: border-box;
					align-items: center;
					#contact-info {
						display: flex;
						box-sizing: border-box;
						width: 100%;
						box-sizing: border-box;
						input {
							display: flex;
							width: 50%;
							box-sizing: border-box;
							align-items: flex-start;
							margin-right: 40px;
							border-radius: 15px;
							border: 1px solid var(--Dark-Blue);
							background: var(--White);
						}
						:last-child {
							margin-right: 0;
						}
					}
					textarea {
						display: flex;
						height: 106px;
						padding: 12px 16px;
						align-items: flex-start;
						align-self: stretch;
						border-radius: 15px;
						background: var(--White);
						border: 1px solid var(--Dark-Blue);
						margin-bottom: 31px;
					}
					button#contact-submit {
						display: flex;
						color: var(--White);
						height: 56px;
						width: 155px;
						padding: 16px 32px;
						justify-content: center;
						align-items: center;
						gap: 4px;
						border-radius: 15px;
						background: var(--Aqua);
						border: none;
						cursor: pointer;
					}
				}
			}
		}
		#pro-details-sect {
			display: flex;
			flex-direction: column;
			margin: 100px 0 196px;
			#tabs {
				display: flex;
				overflow: hidden;
				.tab {
					display: flex;
					flex: 1;
					justify-content: center;
					text-align: center;
					padding: 16px 4px;
					color: var(--Aqua);
					font-family: Poppins;
					font-size: var(--desc-1);
					font-style: normal;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0.03px;
					text-transform: uppercase;
					cursor: pointer;
				}
				.tab.active {
					color: var(--White);
					background: var(--Aqua);
				}
			}
			#sections {
				display: flex;
				margin-top: 50px;
				position: relative;
				z-index: 1;
				.section {
					display: none;
					position: absolute;
					z-index: -1;
					.table {
						display: flex;
						box-sizing: border-box;
						flex-direction: column;
						width: 100%;
						border: 1px solid var(--LGrey);
						.table-row {
							display: flex;
							box-sizing: border-box;
							align-items: center;
							border-bottom: 1px solid var(--LGrey);
							padding: 0;
							.title {
								display: flex;
								align-items: center;
								box-sizing: border-box;
								flex: 2;
								height: 100%;
								padding: 7px 16px;
								color: var(--Bold-Text);
								font-family: Poppins;
								font-size: var(--navigation);
								font-style: normal;
								font-weight: 500;
								line-height: 24px; /* 150% */
								letter-spacing: 0.08px;
								border-right: 1px solid var(--LGrey);
							}
							.desc {
								display: flex;
								align-items: center;
								box-sizing: border-box;
								flex: 4;
								padding: 19px 15px;
							}
						}
						.table-row:nth-child(even) {
							background-color: var(--LLGrey);
						}
						:last-child {
							border: none;
						}
					}
					#media {
						display: flex;
						.image {
							flex-shrink: 0;
							background-color: var(--LGrey);
							border-radius: 10px;
							margin: 10px auto;
						}
					}

					.media-video {
						margin: auto;
					}
				}
			}
		}
	}
	footer {
		#footer-graphics {
			margin: 30px 10% 100px;
		}
		#footer-links {
			margin: 0 10% 135px;
			justify-content: center;
			#cat-1,
			#cat-2 {
				display: none;
			}
			#cat-3 {
				display: flex;
				align-items: center;
				.footer-desc {
					text-align: center;
				}
			}
		}
		#copyright {
			padding: 30px 10%;
			flex-direction: column;
			align-items: center;
			#copy-text {
				margin-bottom: 10px;
			}
			#copy-links {
				display: flex;
			}
		}
	}
}
@media screen and (max-width: 780px) {
	footer {
		background-image: url('../images/footer-bg-mobi.png');
		background-position: center -100px;
		#footer-graphics {
			display: flex;
			flex-direction: column;
			align-items: center;
			#footer-socials {
				margin-top: 50px;
				.icon {
					display: flex;
					flex: 1;
					background-position: center;
					background-size: 80%;
					width: 50px;
					height: 50px;
					margin-right: 15px;
				}

				.facebook {
					background-image: url('../images/facebook_mobi.svg');
				}
				.instagram {
					background-image: url('../images/insta_mobi.svg');
				}
				.youtube {
					background-image: url('../images/youtube_mobi.svg');
				}
				.twitter {
					background-image: url('../images/twitter_mobi.svg');
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	header {
		#call-to-action {
			#cta-text {
				#cta-title {
				}
				#cta-desc {
					margin: 20px 0;
				}
			}
		}
	}
	/** Generic **/
	.page-title {
		text-align: center;
	}
	/** About **/
	main#about-main {
		padding: 200px 10%;
		#about-desc {
			display: flex;
			margin: 30px 0;
			text-align: center;
		}
		.about-section {
			display: flex;
			margin-top: 5%;
			.section-image-container {
				flex: 1;
				#about-img {
					width: 100%;
					height: calc(584.968px * 0.7);
					mask-size: contain;
					margin-bottom: 5%;
				}
				#network-img {
					width: 100%;
					height: calc(584.968px * 0.7);
					mask-size: contain;
				}
			}
			.section-text-container {
				flex: 1;
				align-items: center;
				text-align: center;
				.section-text-desc {
					text-align: center;
				}
			}
		}

		.left-space {
			flex-direction: column;
			.section-text-container {
				margin: 0;
			}
		}
		.right-space {
			flex-direction: column;
			.section-text-container {
				margin: 0;
			}
		}
	}
	/** Contact **/
	main#contact-main {
		display: flex;
		flex-direction: column;
		padding: 150px 5%;
		text-align: center;
		#contact-desc {
			display: flex;
			text-align: center;
		}
		#contact-form-container {
			flex-direction: column;
			box-sizing: border-box;
			margin-top: 50px;
			padding: 5%;
			#contact-form {
				flex-direction: column;
				box-sizing: border-box;
				align-items: center;
				#contact-info {
					display: flex;
					box-sizing: border-box;
					input {
						width: 50%;
						margin: 0 30px 30px 0;
					}
					:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	footer {
		background-position: center -60px;
	}
}
@media screen and (max-width: 480px) {
	main {
		#prod-cat {
			margin: 0 5%;
		}
		#book-section {
			padding: 70px 4%;
		}
		.merch {
			margin: 100px 5%;
			.product-text {
				flex: 1;
				margin-right: 5%;
			}
			.product-illustration {
				flex: 1;
				width: auto;
				background-position: center;
			}
		}
		#product-2 {
			.product-text {
				margin-left: 5%;
			}
		}
		#testimonial {
			padding: 125px 5% 126px;
			#testimonial-illustration {
				display: flex;
				flex: 1;
				width: auto;
				margin-right: 5%;
				background-size: contain;
				background-position: center;
			}
		}
	}
	main#about-main {
		padding: 150px 5%;
	}
	/** Contact **/
	main#contact-main {
		padding: 150px 5%;
		#contact-form-container {
			#contact-form {
				max-width: 100%;
				#contact-info {
					display: flex;
					max-width: 100%;
					box-sizing: border-box;
					input {
						margin: 0 20px 30px 0;
					}
					:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	/** Product categories **/
	main#product-categories-main {
		display: flex;
		flex-direction: column;
		padding: 200px 5%;
		#product-categories {
			.product-category {
				display: flex;
				padding: 20px 0;
				flex-direction: column;
				align-items: center;
				text-align: center;
				.product-category-illustration {
					display: flex;
					width: calc(403px * 0.6);
					height: calc(404px * 0.6);
					margin-right: 0;
					flex-shrink: 0;
					border-radius: 15px;
					background-color: var(--LGrey);
					cursor: pointer;
					.product-category-text {
						display: flex;
						flex-direction: column;
						padding: 5%;
						margin: 0;
						.category-title {
							margin: 13px 0 38px 0;
							letter-spacing: 0.075px;
						}
					}
				}
			}
			:first-child {
				padding-top: 0;
			}
			:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
	/** Products **/
	main#products-main {
		display: flex;
		flex-direction: column;
		padding: 150px 0;
		.page-title {
			display: inline-flex;
			margin: 0 5%;
		}
		#product-list {
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			margin: 138px 10% 0;
			#products {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.product-item {
					display: flex;
					box-sizing: border-box;
					flex-direction: column;
					margin: auto;
					align-items: center;
					border-radius: 15px;
					border-radius: 15px;
					margin-top: 30px;
					background: var(
						--LLGrey,
						linear-gradient(
							0deg,
							rgba(0, 0, 0, 0.04) 0%,
							rgba(0, 0, 0, 0.04) 100%
						)
					);
					a {
						text-decoration: none;
					}
					.product-image {
						display: flex;
						width: 100%;
						height: 339px;
						border-top-left-radius: 15px;
						border-top-right-radius: 15px;
						background-color: var(--LGrey);
						background-size: cover;
						background-repeat: no-repeat;
					}
					.product-name {
						display: flex;
						width: 100%;
						box-sizing: border-box;
						color: var(--Dark-Blue);
						text-align: center;
						justify-content: center;
						font-family: Poppins;
						font-size: 24px;
						font-style: normal;
						font-weight: 500;
						line-height: 24px; /* 100% */
						letter-spacing: 0.12px;
						padding: 16px 0 24px;
					}
				}
			}
		}
	}
	/** Product **/
	main#product-main {
		display: flex;
		flex-direction: column;
		padding: 196px 10% 0;
		#prod-summary-sect {
			display: flex;
			margin-top: 116px;
			flex-direction: column;
			#prod-illustration {
				display: none;
			}
			#pro-summary-text {
				display: flex;
				flex: 1;
				#prod-illustration-mobi {
					display: flex;
					width: 100%;
					min-height: 500px;
					margin: 25px 0;
					border-radius: 40px;
					box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
					background-image: url('../images/vet-xray-2.png');
					background-size: cover;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
		#prod-contact {
			#contact-form-container {
				display: flex;
				flex-direction: column;
				#form-title {
					color: var(--Dark-Blue);
					font-family: Poppins;
					font-size: var(--H2-Font);
					text-align: center;
					font-style: normal;
					font-weight: 600;
					line-height: 52px;
					text-transform: capitalize;
					margin-bottom: 50px;
				}
				#contact-form {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
		}
		#pro-details-sect {
			display: flex;
			flex-direction: column;
			margin: 100px 0 196px;
			#tabs {
				.tab {
					display: flex;
					flex: 1;
					justify-content: center;
					text-align: center;
					padding: 16px 4px;
					color: var(--Aqua);
					font-family: Poppins;
					font-size: var(--desc-1);
					font-style: normal;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0.03px;
					text-transform: uppercase;
					cursor: pointer;
				}
				.tab.active {
					color: var(--White);
					background: var(--Aqua);
				}
			}
			#sections {
				display: flex;
				margin-top: 50px;
				position: relative;
				z-index: 1;
				.section {
					display: none;
					position: absolute;
					z-index: -1;
					.table {
						display: flex;
						box-sizing: border-box;
						flex-direction: column;
						width: 100%;
						border: 1px solid var(--LGrey);
						.table-row {
							display: flex;
							box-sizing: border-box;
							align-items: center;
							border-bottom: 1px solid var(--LGrey);
							padding: 0;
							.title {
								display: flex;
								align-items: center;
								box-sizing: border-box;
								flex: 2;
								height: 100%;
								padding: 7px 16px;
								color: var(--Bold-Text);
								font-family: Poppins;
								font-size: var(--navigation);
								font-style: normal;
								font-weight: 500;
								line-height: 24px; /* 150% */
								letter-spacing: 0.08px;
								border-right: 1px solid var(--LGrey);
							}
							.desc {
								display: flex;
								align-items: center;
								box-sizing: border-box;
								flex: 4;
								padding: 19px 15px;
							}
						}
						.table-row:nth-child(even) {
							background-color: var(--LLGrey);
						}
						:last-child {
							border: none;
						}
					}
					#media {
						display: flex;
						.image {
							flex-shrink: 0;
							background-color: var(--LGrey);
							border-radius: 10px;
							margin: 10px auto;
						}
					}

					.media-video {
						margin: 10px auto;
					}
				}
			}
		}
	}
	footer {
		#footer-graphics {
			margin: 30px 5% 100px;
		}
		#footer-links {
			margin: 0 5% 135px;
			justify-content: center;
			#cat-1,
			#cat-2 {
				display: none;
			}
			#cat-3 {
				display: flex;
				align-items: center;
			}
		}
		#copyright {
			padding: 30px 5%;
		}
	}
}
