nav {
	display: flex;
	flex-direction: column;
	.logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		#logo {
			display: flex;
			width: 180px;
			height: 77px;
			margin: 20px;
			background-image: url('../images/logo.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	#links {
		display: flex;
		width: 100%;
		padding: 15px 0 0px;
		justify-content: center;
		align-items: center;
		background-color: var(--Dark-Blue);
		.navigation {
			display: flex;
			height: 54px;
			margin-right: 40px;
			justify-content: center;
			align-items: center;
			padding-bottom: 2px;
			a {
				display: inline-flex;
				height: 100%;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				color: var(--White);
				font-family: Poppins;
				font-size: var(--navigation);
				font-style: normal;
				font-weight: 600;
				line-height: 24px;
				letter-spacing: 0.08px;
			}
		}
		.navigation:has(> a.active) {
			border-bottom: 4px solid var(--White);
		}
		.navigation.dropdown {
			position: relative;
			cursor: pointer;
		}
		.navigation.dropdown:after {
			content: '';
			display: inline-flex;
			width: 24px;
			height: 24px;
			background-image: url('../images/chevron_down.svg');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.sub-navigation {
			display: none;
			position: absolute;
			width: 600px;
			left: 0;
			top: 58px;
			padding: 10px 5px;
			background-color: rgba(255, 255, 255, 0.8);
			z-index: 10;
			a {
				display: inline-flex;
				padding: 5px;
				color: var(--Dark-Blue);
			}
		}
		.navigation.dropdown:hover > .sub-navigation {
			display: inline-flex;
			justify-content: space-between;
		}
	}
	#hamburger {
		display: none;
	}
}

@media screen and (max-width: 1880px) {
	nav {
		display: flex;
		flex-direction: column;
		#logo {
			width: 180px;
			height: 77px;
			background-image: url('../images/logo.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}

@media screen and (max-width: 1140px) {
	nav {
	}
}

@media screen and (max-width: 980px) {
	nav {
		position: relative;
		border: thin solid #ffffff;
		.logo-container {
			display: flex;
			position: absolute;
			top: 20px;
			left: 35px;
			#logo {
				display: flex;
				width: 180px;
				height: 77px;
				margin: 0;
				background-image: url('../images/logo.png');
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
		#links {
			display: none;
			flex-direction: column;
			align-items: center;
			position: absolute;
			top: 117px;
			z-index: 100;
			.navigation {
				display: flex;
				height: 49px;
				margin-right: 0;
				justify-content: center;
				align-items: center;
				padding-bottom: 2px;
			}
			.navigation.dropdown:after {
				content: none;
			}
			.navigation.dropdown:hover > .sub-navigation {
				display: none;
				justify-content: space-between;
			}
		}
		#hamburger {
			display: flex;
			position: absolute;
			width: 30px;
			height: 34px;
			top: 40px;
			right: 58px;
			flex-shrink: 0;
			background-image: url('../images/hamburger.svg');
			background-size: cover;
			background-repeat: no-repeat;
			cursor: pointer;
		}
	}
	header {
		margin-top: 117px;
	}
}

@media screen and (max-width: 720px) {
	nav {
	}
}
